<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      form {
          display:flex;
          flex-direction: column;
          gap:8px;
          width:300px;
      }
      body {
       font-family:Arial;
      }
      h1 {
       font-size:18px;
      }
  </style>
</head>
<body>
  <h1>Hi user <%= id %>, what is your favorite city?</h1>
  <form action="/question" method="POST">      
       <input type="text" placeholder="Enter your favorite city" name="tbCity"/>                    
       <button>Submit</button>
  </form>
</body>
</html>
